//@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");//

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// основной шрифт и размер //

$fontFamily: "Manrope", sans-serif;
$fontWeight: 400;
$fontSize: 16px;
$mainColor: #333333;

@import "_null";

//============= Общие стили ===============//

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  max-width: 1170px; // (сначала контейнер был 1170 как на макете, стал 1200 изза padding 30px - позже добавили)
  margin: 0px auto;
  //padding: 0px 15px;
  @media (max-width: 1199.98px) {
    max-width: 970px;
  }
  @media (max-width: 1087px) {
    // max-width: 970px;
  }
  @media (max-width: 991.98px) {
    max-width: 750px;
  }
  @media (max-width: 767.98px) {
    max-width: none;
    padding: 0px 15px;
  }
}

[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;
  color: #000000;
  @media (max-width: 767.98px) {
    font-size: 30px;
  }
  // .title_center

  &_center {
    text-align: center;
  }
}
//============= Общие стили ===============//

//============= header ===============//
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  // .header__container

  &__container {
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    min-height: 101px;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 767.98px) {
      min-height: 0;
      flex-direction: column;
    }
  }

  // .header__logo

  &__logo {
    font-weight: 800;
    font-size: 23px;
    line-height: 1.35;
    color: #31353b;
  }

  // .header__menu

  &__menu {
  }
}

.menu {
  // .menu__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 15px;
    @media (max-width: 767.98px) {
      justify-content: center;
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 13px;
    line-height: 1.3;
    color: #000000;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 767.98px) {
      font-size: 18px;
    }
  }
}

//============= header ===============//

//========== main-block =============//
.page {
  // .page__main

  &__main {
  }
}

.main-block {
  padding: 0px 0px 110px 0px;
  @media (max-width: 991.98px) {
    padding: 0px 0px 70px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 0px 0px 40px 0px;
  }
  // .main-block__container

  &__container {
    padding-top: 183px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: #bdccff;
      width: 200%;
      height: 100%;
      top: 0;
      left: 68%;
    }
    @media (max-width: 1199.98px) {
      padding-top: 100px;
      padding-bottom: 30px;
    }
  }

  // .main-block__body

  &__body {
    &:not(:last-child) {
      margin: 0px 0px 14px 0px;
    }
    @media (max-width: 1199.98px) {
      &:not(:last-child) {
        margin: 0px 0px 40px 0px;
      }
    }
  }

  // .main-block__partners

  &__partners {
  }
}

.body-main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
  @media (max-width: 1199.98px) {
    display: block;
  }
  // .body-main-block__content

  &__content {
    flex: 0 1 50%;
    @media (max-width: 1199.98px) {
      &:not(:last-child) {
        margin: 0px 0px 40px 0px;
      }
    }
  }

  // .body-main-block__slider

  &__slider {
    flex: 0 1 50%;
    min-width: 0;
  }
}

.content-main-block {
  padding: 40px 0px 0px 0px;
  position: relative;
  z-index: 2;
  // .content-main-block__body

  &__body {
    padding: 0px 80px 0px 0px;
    &:not(:last-child) {
      margin: 0px 0px 48px 0px;
    }
    @media (max-width: 1199.98px) {
      padding: 0px 0px 0px 0px;
    }
  }

  // .content-main-block__sub-title

  &__sub-title {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 1.32;
    color: #ff9900;
    text-transform: uppercase;
    &:not(:last-child) {
      margin: 0px 0px 24px 0px;
    }
  }

  // .content-main-block__title

  &__title {
    font-weight: 800;
    font-size: 54px;
    line-height: 1.35;
    color: #000000;
    &:not(:last-child) {
      margin: 0px 0px 23px 0px;
    }
    @media (max-width: 767.98px) {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  // .content-main-block__text

  &__text {
    font-size: 17px;
    line-height: 1.35;
    letter-spacing: 0.01em;
    color: #31353b;
  }

  // .content-main-block__form

  &__form {
    margin-right: -188px;
    @media (max-width: 1199.98px) {
      margin-right: 0;
    }
  }
}

.form-main-block {
  position: relative;
  z-index: 2;
  display: flex;
  background: #fff url("../img/main-block/house.svg") 33px 32px no-repeat;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  @media (max-width: 767.98px) {
    display: block;
  }
  @media (max-width: 479.98px) {
    background: #fff;
  }

  // .form-main-block__input

  &__input {
    height: 86px;
    border: 1px solid #dadada;
    padding: 0px 0px 0px 74px;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    line-height: 1.35;
    flex: 1 1 auto;
    &::placeholder {
      color: rgb(49, 53, 59, 0.3);
    }
    @media (max-width: 767.98px) {
      font-size: 18px;
    }
    @media (max-width: 479.98px) {
      padding: 0 15px;
      font-size: 16px;
      text-align: center;
    }
  }

  // .form-main-block__button

  &__button {
    height: 86px;
    cursor: pointer;
    width: 188px;
    flex: 0 0 188px;
    font-weight: 600;
    color: #fff;
    font-size: 17px;
    line-height: 1.35;
    letter-spacing: 0.01em;
    padding: 5px 15px;
    transition: all 0.3s ease 0s;
    background-color: #f85a47;
    &:hover {
      background-color: #b9473a;
    }
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.partners-main-block {
  max-width: 65%;
  @media (max-width: 1199.98px) {
    position: relative;
    z-index: 2;
    max-width: none;
  }
  // .partners-main-block__label

  &__label {
    font-size: 17px;
    line-height: 1.35;
    letter-spacing: 0.01em;
    color: #31353b;
    &:not(:last-child) {
      margin: 0px 0px 27px 0px;
    }
  }

  // .partners-main-block__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    @media (max-width: 767.98px) {
      justify-content: center;
    }
  }

  // .partners-main-block__item

  &__item {
    img {
      max-width: 100%;
    }
  }
}
//--------//
.body-main-block {
  // .body-main-block__slider

  &__slider {
  }

  // .body-main-block__arrows

  &__arrows {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    gap: 40px;
    align-items: center;
  }

  // .body-main-block__arrow

  &__arrow {
    &.swiper-button-prev {
      position: static;
      height: 20px;
      width: 11px;
      background: url("../img/main-block/arrow.svg") 0 0 / 100% no-repeat;
    }
    &.swiper-button-next {
      position: static;
      height: 20px;
      width: 11px;
      background: url("../img/main-block/arrow.svg") 0 0 / 100% no-repeat;
    }
    &::after {
      display: none;
    }
    &.swiper-button-prev {
      transform: rotate(-180deg);
    }
  }
}

.slider-main-block {
  // .slider-main-block__wrapper

  &__wrapper {
  }

  // .slider-main-block__slide

  &__slide {
    position: relative;
    padding: 0px 0px 95% 0px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//======= main-block ==========//

//========== how =============//
.page {
  // .page__how

  &__how {
  }
}

.how {
  padding: 110px 0px 110px 0px;
  @media (max-width: 991.98px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  // .how__container

  &__container {
  }

  // .how__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 70px 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .how__items

  &__items {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, minmax(auto, 260px));
    column-gap: 30px;
    row-gap: 45px;
    justify-content: space-between;
    @media (min-width: 991px) {
      padding: 0px 35px;
    }
    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
    }
  }

  // .how__item

  &__item {
  }
}

.item-how {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 41px;
    transform: translate(86.5%, 0px);
    width: 210px;
    height: 11px;
    background: url("../img/how/border01.svg") 0 0 / 100% no-repeat;
  }
  @media (max-width: 1199.98px) {
    &:not(:last-child)::after {
      width: 170px;
      transform: translate(69%, 0px);
    }
  }
  @media (max-width: 991.98px) {
    &:not(:last-child)::after {
      width: 130px;
      transform: translate(63%, 0px);
    }
  }
  @media (max-width: 767.98px) {
    &:not(:last-child)::after {
      display: none;
    }
  }
  // .item-how_1

  &_1 {
    & .item-how__icon {
      background: #9672ff;
      box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
        0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035),
        0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
    }
  }

  // .item-how_2

  &_2 {
    & .item-how__icon {
      background: #4ddffd;
      box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
        0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035),
        0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
    }
    &:not(:last-child)::after {
      transform: translate(86.5%, 0px) rotate(-180deg);
    }
    @media (max-width: 1199.98px) {
      &:not(:last-child)::after {
        transform: translate(69%, 0px) rotate(-180deg);
      }
    }
    @media (max-width: 991.98px) {
      &:not(:last-child)::after {
        transform: translate(63%, 0px) rotate(-180deg);
      }
    }
  }

  // .item-how_3

  &_3 {
    & .item-how__icon {
      background: #f2b8ec;
      box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
        0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035),
        0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
    }
  }

  // .item-how__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    &:not(:last-child) {
      margin: 0px 0px 50px 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .item-how__title

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.36;
    text-align: center;
    color: #000000;
    &:not(:last-child) {
      margin: 0px 0px 15px 0px;
    }
  }

  // .item-how__text

  &__text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.62;
  }
}

//========== how =============//

//========= deals ===========//
.page {
  // .page__deals

  &__deals {
  }
}

.deals {
  padding: 110px 0px 110px 0px;
  @media (max-width: 991.98px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  // .deals__container

  &__container {
  }

  // .deals__header

  &__header {
    &:not(:last-child) {
      margin: 0px 0px 50px 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .deals__tabs

  &__tabs {
  }
}

.header-deals {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  // .header-deals__content

  &__content {
    flex: 1 1 auto;
  }

  // .header-deals__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 15px 0px;
    }
  }

  // .header-deals__text

  &__text {
    max-width: 470px;
    line-height: 1.5;
    color: #000000;
  }

  // .header-deals__link

  &__link {
    background-color: #f85a47;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    line-height: 1.35;
    padding: 22px 33px;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
      0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035),
      0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
    &:hover {
      background-color: #b9473a;
    }
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.title {
}

.tabs-deals {
  // .tabs-deals__nav

  &__nav {
    display: flex;
    column-gap: 50px;
    row-gap: 10px;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin: 0px 0px 45px 0px;
    }
  }

  // .tabs-deals__button

  &__button {
    font-size: 19px;
    line-height: 1.37;
    color: #000000;
    position: relative;
    transition: color 0.3s ease 0s;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1px;
      transition: width 0.3s ease 0s;
      background-color: #f85a47;
    }
    &:hover {
      color: #f85a47;
      &::after {
        width: 100%;
      }
    }
    &.active {
      color: #f85a47;
      &::after {
        width: 100%;
      }
    }
  }

  // .tabs-deals__body

  &__body {
  }

  // .tabs-deals__item

  &__item {
    display: none;
    &.active {
      display: block;
    }
  }
}

.active {
}

.item-tabs {
  // .item-tabs__items

  &__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  // .item-tabs__item

  &__item {
    position: relative;
  }

  // .item-tabs__options

  &__options {
    position: absolute;
    left: 14px;
    z-index: 2;
    top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  // .item-tabs__option

  &__option {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    padding: 6px 12px;
    transition: background-color 0.3s ease 0s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  // .item-tabs__image

  &__image {
    position: relative;
    display: block;
    padding-bottom: 81%;
    border-radius: 5px;
    overflow: hidden;
    img {
      transition: transform 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

//========= deals ===========//

//======= featured =========//
.page {
  // .page__featured

  &__featured {
  }
}

.featured {
  padding: 110px 0px 110px 0px;
  @media (max-width: 991.98px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  // .featured__container

  &__container {
  }

  // .featured__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 95px 0px;
    }
    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 50px 0px;
      }
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .featured__body

  &__body {
    background: #f1ffff;
    padding: 40px 40px 80px 40px;
    display: grid;
    column-gap: 77px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media (max-width: 767.98px) {
      margin: 0px -15px;
      padding: 20px 15px 20px 15px;
    }
  }

  // .featured__images

  &__images {
  }

  // .featured__content

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.title {
  // .title_center

  &_center {
  }
}

.images-featured {
  display: grid;
  justify-items: center;
  // .images-featured__item

  &__item {
    img {
      max-width: 100%;
    }
    // .images-featured__item_mini

    &_mini {
      margin-left: 20px;
      margin-right: 20px;
      filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704))
        drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02))
        drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963))
        drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
      margin-top: -114px;
    }
  }
}

.content-featured {
  // .content-featured__body

  &__body {
    @media (min-width: 991px) {
      flex: 1 1 auto;
      padding-top: 40px;
      max-width: 412px;
    }
  }

  // .content-featured__title

  &__title {
    font-weight: 600;
    font-size: 31px;
    line-height: 1.35;
    color: #000000;
    &:not(:last-child) {
      margin: 0px 0px 28px 0px;
    }
    @media (max-width: 767.98px) {
      font-size: 24px;
    }
  }

  // .content-featured__text

  &__text {
    line-height: 1.5;
    &:not(:last-child) {
      margin: 0px 0px 40px 0px;
    }
  }

  // .content-featured__options

  &__options {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 0px 55px 0px;
    @media (max-width: 479.98px) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 35px;
    }
  }

  // .content-featured__link

  &__link {
    background: #f85a47;
    color: #fff;
    text-transform: uppercase;
    padding: 16px 35px;
    text-align: center;
    line-height: 150%;
    display: block;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
      0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035),
      0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
    &:hover {
      background: #cf4a3b;
    }
    @media (min-width: 991px) {
      max-width: 412px;
    }
  }
}

.options-content-featured {
  // .options-content-featured__item

  &__item {
  }

  // .options-content-featured__label

  &__label {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.35;
    color: #000000;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
  }

  // .options-content-featured__value

  &__value {
    font-size: 17px;
    line-height: 1.35;
    color: #545a58;
  }
}

//======= featured =========//

//======= reveiews =========//
.page {
  // .page__reviews

  &__reviews {
  }
}

.reviews {
  padding: 110px 0px 110px 0px;
  @media (max-width: 991.98px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  // .reviews__container

  &__container {
  }

  // .reviews__title

  &__title {
    max-width: 570px;
    &:not(:last-child) {
      margin: 0px 0px 51px 0px;
    }
  }

  // .reviews__items

  &__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  // .reviews__item

  &__item {
  }

  // .reviews__footer

  &__footer {
    padding-top: 85px;
  }
}

.title {
}

.item-reviews {
  padding: 50px 40px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  &:hover {
    border: 1px solid transparent;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
  }

  // .item-reviews__rating

  &__rating {
    &:not(:last-child) {
      margin: 0px 0px 33px 0px;
    }
  }

  // .item-reviews__text

  &__text {
    line-height: 1.75;
    color: #333333;
    &:not(:last-child) {
      margin: 0px 0px 50px 0px;
    }
  }

  // .item-reviews__author

  &__author {
  }
}
//-----rating ---------//

.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
  &::before {
    content: "★★★★★";
    display: block;
  }

  // .simple-rating__items

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  // .simple-rating__item

  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  // .simple-rating__label

  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #f0dbbb;
    &::before {
      content: "★";
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}
//-----rating ---------//

.author-item-reviews {
  display: flex;
  gap: 20px;
  align-items: center;
  // .author-item-reviews__avatar

  &__avatar {
    flex: 0 0 48px;
    border-radius: 50%;
    overflow: hidden;
  }

  // .author-item-reviews__body

  &__body {
  }

  // .author-item-reviews__name

  &__name {
    font-weight: 700;
    line-height: 1.38;
    color: #333333;
  }

  // .author-item-reviews__location

  &__location {
    font-size: 14px;
    line-height: 1.36;
    color: #666666;
  }
}

.footer-reviews {
  display: flex;
  column-gap: 100px;
  @media (max-width: 991.98px) {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  // .footer-reviews__partners

  &__partners {
    flex: 1 1 auto;
  }

  // .footer-reviews__info

  &__info {
    flex: 0 0 300px;
    font-family: "Inter";
    line-height: 1.5;
    color: #333333;
    a {
      color: #2cbde7;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.partners-footer-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  // .partners-footer-reviews__item

  &__item {
  }
}

//======= reveiews =========//
