@charset "UTF-8";
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Обнуление стилей */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
}

input,
button,
textarea {
  font-family: "Manrope", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0px auto;
}
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;
  color: #000000;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}
.title_center {
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
  min-height: 101px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__logo {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.35;
  color: #31353b;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 15px;
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3;
  color: #000000;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 18px;
  }
}

.main-block {
  padding: 0px 0px 110px 0px;
}
@media (max-width: 991.98px) {
  .main-block {
    padding: 0px 0px 70px 0px;
  }
}
@media (max-width: 767.98px) {
  .main-block {
    padding: 0px 0px 40px 0px;
  }
}
.main-block__container {
  padding-top: 183px;
  position: relative;
}
.main-block__container::after {
  content: "";
  position: absolute;
  background-color: #bdccff;
  width: 200%;
  height: 100%;
  top: 0;
  left: 68%;
}
@media (max-width: 1199.98px) {
  .main-block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
.main-block__body:not(:last-child) {
  margin: 0px 0px 14px 0px;
}
@media (max-width: 1199.98px) {
  .main-block__body:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
}
.body-main-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1199.98px) {
  .body-main-block {
    display: block;
  }
}
.body-main-block__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 1199.98px) {
  .body-main-block__content:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
}
.body-main-block__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}

.content-main-block {
  padding: 40px 0px 0px 0px;
  position: relative;
  z-index: 2;
}
.content-main-block__body {
  padding: 0px 80px 0px 0px;
}
.content-main-block__body:not(:last-child) {
  margin: 0px 0px 48px 0px;
}
@media (max-width: 1199.98px) {
  .content-main-block__body {
    padding: 0px 0px 0px 0px;
  }
}
.content-main-block__sub-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.32;
  color: #ff9900;
  text-transform: uppercase;
}
.content-main-block__sub-title:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  line-height: 1.35;
  color: #000000;
}
.content-main-block__title:not(:last-child) {
  margin: 0px 0px 23px 0px;
}
@media (max-width: 767.98px) {
  .content-main-block__title {
    font-size: 30px;
    line-height: 1.2;
  }
}
.content-main-block__text {
  font-size: 17px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  color: #31353b;
}
.content-main-block__form {
  margin-right: -188px;
}
@media (max-width: 1199.98px) {
  .content-main-block__form {
    margin-right: 0;
  }
}

.form-main-block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff url("../img/main-block/house.svg") 33px 32px no-repeat;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
@media (max-width: 767.98px) {
  .form-main-block {
    display: block;
  }
}
@media (max-width: 479.98px) {
  .form-main-block {
    background: #fff;
  }
}
.form-main-block__input {
  height: 86px;
  border: 1px solid #dadada;
  padding: 0px 0px 0px 74px;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  line-height: 1.35;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.form-main-block__input::-webkit-input-placeholder {
  color: rgba(49, 53, 59, 0.3);
}
.form-main-block__input::-moz-placeholder {
  color: rgba(49, 53, 59, 0.3);
}
.form-main-block__input:-ms-input-placeholder {
  color: rgba(49, 53, 59, 0.3);
}
.form-main-block__input::-ms-input-placeholder {
  color: rgba(49, 53, 59, 0.3);
}
.form-main-block__input::placeholder {
  color: rgba(49, 53, 59, 0.3);
}
@media (max-width: 767.98px) {
  .form-main-block__input {
    font-size: 18px;
  }
}
@media (max-width: 479.98px) {
  .form-main-block__input {
    padding: 0 15px;
    font-size: 16px;
    text-align: center;
  }
}
.form-main-block__button {
  height: 86px;
  cursor: pointer;
  width: 188px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  font-weight: 600;
  color: #fff;
  font-size: 17px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #f85a47;
}
.form-main-block__button:hover {
  background-color: #b9473a;
}
@media (max-width: 767.98px) {
  .form-main-block__button {
    width: 100%;
  }
}

.partners-main-block {
  max-width: 65%;
}
@media (max-width: 1199.98px) {
  .partners-main-block {
    position: relative;
    z-index: 2;
    max-width: none;
  }
}
.partners-main-block__label {
  font-size: 17px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  color: #31353b;
}
.partners-main-block__label:not(:last-child) {
  margin: 0px 0px 27px 0px;
}
.partners-main-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
@media (max-width: 767.98px) {
  .partners-main-block__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.partners-main-block__item img {
  max-width: 100%;
}

.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-main-block__arrow.swiper-button-prev {
  position: static;
  height: 20px;
  width: 11px;
  background: url("../img/main-block/arrow.svg") 0 0/100% no-repeat;
}
.body-main-block__arrow.swiper-button-next {
  position: static;
  height: 20px;
  width: 11px;
  background: url("../img/main-block/arrow.svg") 0 0/100% no-repeat;
}
.body-main-block__arrow::after {
  display: none;
}
.body-main-block__arrow.swiper-button-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider-main-block__slide {
  position: relative;
  padding: 0px 0px 95% 0px;
}
.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how {
  padding: 110px 0px 110px 0px;
}
@media (max-width: 991.98px) {
  .how {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .how {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.how__title:not(:last-child) {
  margin: 0px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .how__title:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.how__items {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(3, minmax(auto, 260px));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 991px) {
  .how__items {
    padding: 0px 35px;
  }
}
@media (max-width: 767.98px) {
  .how__items {
    grid-template-columns: 1fr;
  }
}
.item-how {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
}
.item-how:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 41px;
  -webkit-transform: translate(86.5%, 0px);
      -ms-transform: translate(86.5%, 0px);
          transform: translate(86.5%, 0px);
  width: 210px;
  height: 11px;
  background: url("../img/how/border01.svg") 0 0/100% no-repeat;
}
@media (max-width: 1199.98px) {
  .item-how:not(:last-child)::after {
    width: 170px;
    -webkit-transform: translate(69%, 0px);
        -ms-transform: translate(69%, 0px);
            transform: translate(69%, 0px);
  }
}
@media (max-width: 991.98px) {
  .item-how:not(:last-child)::after {
    width: 130px;
    -webkit-transform: translate(63%, 0px);
        -ms-transform: translate(63%, 0px);
            transform: translate(63%, 0px);
  }
}
@media (max-width: 767.98px) {
  .item-how:not(:last-child)::after {
    display: none;
  }
}
.item-how_1 .item-how__icon {
  background: #9672ff;
  -webkit-box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
          box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.item-how_2 .item-how__icon {
  background: #4ddffd;
  -webkit-box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
          box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}
.item-how_2:not(:last-child)::after {
  -webkit-transform: translate(86.5%, 0px) rotate(-180deg);
      -ms-transform: translate(86.5%, 0px) rotate(-180deg);
          transform: translate(86.5%, 0px) rotate(-180deg);
}
@media (max-width: 1199.98px) {
  .item-how_2:not(:last-child)::after {
    -webkit-transform: translate(69%, 0px) rotate(-180deg);
        -ms-transform: translate(69%, 0px) rotate(-180deg);
            transform: translate(69%, 0px) rotate(-180deg);
  }
}
@media (max-width: 991.98px) {
  .item-how_2:not(:last-child)::after {
    -webkit-transform: translate(63%, 0px) rotate(-180deg);
        -ms-transform: translate(63%, 0px) rotate(-180deg);
            transform: translate(63%, 0px) rotate(-180deg);
  }
}
.item-how_3 .item-how__icon {
  background: #f2b8ec;
  -webkit-box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
          box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}
.item-how__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 20px;
}
.item-how__icon:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767.98px) {
  .item-how__icon:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.item-how__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  color: #000000;
}
.item-how__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-how__text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.62;
}

.deals {
  padding: 110px 0px 110px 0px;
}
@media (max-width: 991.98px) {
  .deals {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .deals {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.deals__header:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767.98px) {
  .deals__header:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.header-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-deals__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header-deals__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.header-deals__text {
  max-width: 470px;
  line-height: 1.5;
  color: #000000;
}
.header-deals__link {
  background-color: #f85a47;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #fff;
  line-height: 1.35;
  padding: 22px 33px;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}
.header-deals__link:hover {
  background-color: #b9473a;
}
@media (max-width: 767.98px) {
  .header-deals__link {
    width: 100%;
  }
}

.tabs-deals__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs-deals__nav:not(:last-child) {
  margin: 0px 0px 45px 0px;
}
.tabs-deals__button {
  font-size: 19px;
  line-height: 1.37;
  color: #000000;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  background-color: #f85a47;
}
.tabs-deals__button:hover {
  color: #f85a47;
}
.tabs-deals__button:hover::after {
  width: 100%;
}
.tabs-deals__button.active {
  color: #f85a47;
}
.tabs-deals__button.active::after {
  width: 100%;
}
.tabs-deals__item {
  display: none;
}
.tabs-deals__item.active {
  display: block;
}

.item-tabs__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.item-tabs__item {
  position: relative;
}
.item-tabs__options {
  position: absolute;
  left: 14px;
  z-index: 2;
  top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
}
.item-tabs__option {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #fff;
  padding: 6px 12px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.item-tabs__image {
  position: relative;
  display: block;
  padding-bottom: 81%;
  border-radius: 5px;
  overflow: hidden;
}
.item-tabs__image img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-tabs__image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.featured {
  padding: 110px 0px 110px 0px;
}
@media (max-width: 991.98px) {
  .featured {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .featured {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.featured__title:not(:last-child) {
  margin: 0px 0px 95px 0px;
}
@media (max-width: 991.98px) {
  .featured__title:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .featured__title:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.featured__body {
  background: #f1ffff;
  padding: 40px 40px 80px 40px;
  display: grid;
  -webkit-column-gap: 77px;
     -moz-column-gap: 77px;
          column-gap: 77px;
  row-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 991.98px) {
  .featured__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 767.98px) {
  .featured__body {
    margin: 0px -15px;
    padding: 20px 15px 20px 15px;
  }
}
.featured__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.images-featured {
  display: grid;
  justify-items: center;
}
.images-featured__item img {
  max-width: 100%;
}
.images-featured__item_mini {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
          filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
  margin-top: -114px;
}

@media (min-width: 991px) {
  .content-featured__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-top: 40px;
    max-width: 412px;
  }
}
.content-featured__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 1.35;
  color: #000000;
}
.content-featured__title:not(:last-child) {
  margin: 0px 0px 28px 0px;
}
@media (max-width: 767.98px) {
  .content-featured__title {
    font-size: 24px;
  }
}
.content-featured__text {
  line-height: 1.5;
}
.content-featured__text:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
.content-featured__options {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 0px 55px 0px;
}
@media (max-width: 479.98px) {
  .content-featured__options {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;
  }
}
.content-featured__link {
  background: #f85a47;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 35px;
  text-align: center;
  line-height: 150%;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}
.content-featured__link:hover {
  background: #cf4a3b;
}
@media (min-width: 991px) {
  .content-featured__link {
    max-width: 412px;
  }
}

.options-content-featured__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.35;
  color: #000000;
}
.options-content-featured__label:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.options-content-featured__value {
  font-size: 17px;
  line-height: 1.35;
  color: #545a58;
}

.reviews {
  padding: 110px 0px 110px 0px;
}
@media (max-width: 991.98px) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.reviews__title {
  max-width: 570px;
}
.reviews__title:not(:last-child) {
  margin: 0px 0px 51px 0px;
}
.reviews__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.reviews__footer {
  padding-top: 85px;
}

.item-reviews {
  padding: 50px 40px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-reviews:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}
.item-reviews__rating:not(:last-child) {
  margin: 0px 0px 33px 0px;
}
.item-reviews__text {
  line-height: 1.75;
  color: #333333;
}
.item-reviews__text:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}
.simple-rating::before {
  content: "★★★★★";
  display: block;
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.simple-rating__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f0dbbb;
}
.simple-rating__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}

.author-item-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.author-item-reviews__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  border-radius: 50%;
  overflow: hidden;
}
.author-item-reviews__name {
  font-weight: 700;
  line-height: 1.38;
  color: #333333;
}
.author-item-reviews__location {
  font-size: 14px;
  line-height: 1.36;
  color: #666666;
}

.footer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
@media (max-width: 991.98px) {
  .footer-reviews {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
}
.footer-reviews__partners {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer-reviews__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  font-family: "Inter";
  line-height: 1.5;
  color: #333333;
}
.footer-reviews__info a {
  color: #2cbde7;
  text-decoration: underline;
}
.footer-reviews__info a:hover {
  text-decoration: none;
}

.partners-footer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}